<ngx-loading-bar></ngx-loading-bar>
<div class="root-content">
  <!-- sidebar-->
  <div class="root-left">
    <div class="sidebar">
      <div class="sidebar-header" style="border-bottom: 1px solid rgba(255,255,255,0.2)">
          <a class="team-logo">
              <img width="40" align="center" src="assets/img/angular.svg">
          </a>
      </div>
      <div class="sidebar-body">
          <ul class="nav-apps">
              <li *ngFor='let item of menuItems' [routerLinkActive]="['active']">
                  <a class="app-item" [routerLink]="item.link" [attr.route]="item.link" title="{{item.text}}">
                      <span class="item-icon">
                          <i class="icon-default" [ngClass]="item.icon"></i>
                          <i class="icon-hover" [ngClass]="item.icon"></i>
                      </span>
                      <span class="name">{{item.text}}</span>
                  </a>
              </li>
          </ul>
      </div>
    </div>
  </div>
  <!-- Main section-->
  <div class="root-body">
    <!-- Page content-->
      <router-outlet></router-outlet>
  </div>
</div>